@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?d4s9wl');
  src:  url('fonts/icomoon.eot?d4s9wl#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?d4s9wl') format('truetype'),
    url('fonts/icomoon.woff?d4s9wl') format('woff'),
    url('fonts/icomoon.svg?d4s9wl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-reddit:before {
  content: "\eac6";
}
.icon-pinterest:before {
  content: "\ead1";
}
.icon-tiktok-svgrepo-com:before {
  content: "\e91b";
}
.icon-mail_outline:before {
  content: "\e900";
}
.icon-dehaze:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e903";
}
