<div class='community'>
  <div class='community_img'>
    <img class='community_img-bg' src='assets/images/community-2.gif'>
    <!-- <img class='community_img-bird anim_floating' src='assets/images/bird.gif'> -->
  </div>
  <div class='community_text'>
    <h2>Why not invite everyone?</h2>
    <div class='community__cta'>
      <p>Schools, parks, and whole blocks can benefit from gardens. We can help fund-raise and organize your group to create your community green space.</p>
      <button class='gg_button' href='#'>
        More on community projects
      </button>
      <!-- community__cta -->
    </div>
  </div>
</div>




