<footer>
	<div class='footer__text'>

		<span class='copyright'>&copy; Grow Good, Chicago</span>
		<ul class='social'>
			<li><a href='https://www.instagram.com/growgood_gardens/' class='instagram' target='BLANK'>&nbsp;</a></li>
			<li><a href='https://www.facebook.com/profile.php?id=61582029068083' class='facebook' target='BLANK'>&nbsp;</a></li>
			<li><a href='https://www.youtube.com/channel/UCz8u8EUhjmwLa2hrjlgTd0g' class='youtube' target='BLANK'>&nbsp;</a></li>
			<li><a href='https://www.tiktok.com/@growgood_gardens' class='tiktok' target='BLANK'>&nbsp;</a></li>
			<li><a href='https://www.pinterest.com/growgood_gardens/' class='pinterest' target='BLANK'>&nbsp;</a></li>
		</ul>
	</div>
</footer>

<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
function onSubmit(token) {
 document.getElementById("demo-form").submit();
}
</script>
<script src="{{site.url}}/assets/js/newsletter.js"></script>
<script src="{{site.url}}/assets/js/float-label.js"></script>
<script src="{{site.url}}/assets/js/dropdown.js"></script>