<footer>
	<div class='footer__text'>

		<span class='copyright'>&copy; Grow Good, Chicago</span>
		<ul class='social'>
			<li><a href='#' class='instagram'>&nbsp;</a></li>
			<li><a href='#' class='facebook'>&nbsp;</a></li>
			<li><a href='#' class='youtube'>&nbsp;</a></li>
			<li><a href='#' class='tiktok'>&nbsp;</a></li>
			<li><a href='#' class='pinterest'>&nbsp;</a></li>
		</ul>
	</div>
</footer>

<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
function onSubmit(token) {
 document.getElementById("demo-form").submit();
}
</script>
<script src="{{site.url}}/assets/js/newsletter.js"></script>
<script src="{{site.url}}/assets/js/float-label.js"></script>