<header id='js_header' class="header" role="banner">
  <div class="header__text">
    <div class="nav__masthead">
      <h1><a href="{{ site.url }}/index.html">Grow Good</a></h1>
    </div>

    <nav class="nav__menu">
      <ul>
        {% for item in site.data.nav-config.toc %}
        
          {% if page.permalink contains item.url %}             
            <li>
              <a class="current" href="{{ site.url }}/{{ item.url }}">{{ item.title }}</a>
            </li>           
          {% else %}
            <li>
              <a href="{{ site.url }}/{{ item.url }}">{{ item.title }}</a>
            </li>
          {% endif %}          
        {% endfor %}
        <a href="#contact" class='nav-desktop__contact-btn'>Contact</a>
      </ul>
    </nav>

    <nav class="nav__mobile-menu">
      <ul>             
        <li id='js-dd__toggle' class='mobile-menu__toggle js-dd__toggle-closed'>Menu</li>       
        <a href="#contact" class='nav-desktop__contact-btn'>Contact</a>
      </ul>
      <div id='js-dd__pane' class='mobile-menu__pane js-dd__pane-hidden'>
        <ul>
          {% for item in site.data.nav-config.toc %}
            {% if page.permalink contains item.url %}             
              <li>
                <a class="current" href="{{ site.url }}/{{ item.url }}">{{ item.title }}</a>
              </li>           
            {% else %}
              <li>
                <a href="{{ site.url }}/{{ item.url }}">{{ item.title }}</a>
              </li>
            {% endif %}          
          {% endfor %}
        </ul>
      </div>
    </nav>
  </div>
</header>




