<div class='hero'>
  <div class='hero__deck'>
    <span class='logo'>Grow Good Gardens</span>&thinsp;–&thinsp;Plants and plans for every space, connecting you to nature and neighbors.
  </div>
  <div class='bttn_wrapper'>
    <button class='gg_button hero__bttn' href='{{ site.url }}/{{ item.url }}{{ include.destination }}'>
      <!-- hero__cta -->
      {{ include.cta }}
    </button>
  </div>
</div>

<!-- <span class='logo'>Grow Good</span>&ensp;garden designs and perennials for DIYers of the Upper <span class='no_wrap'>Midwest 
    <img class='hero__img' src='{{ site.url }}/assets/images/gg_map.png'></span> -->


