<div class='services'>
  <div class='services__text'>
    <!-- <h2>Additional services</h2> -->
    <div class='services__item services_design'>
      <h3>Design</h3>
      <!-- <img src='assets/images/{{ include.design_image }}'> -->
      <p>{{ include.design_blurb }}</p>
    </div>
    <!-- <div class='services__item services_diy'>
      <h3>Custom DIY Kits</h3>
      <img src='assets/images/{{ include.design_image }}'>
      <p>{{ include.diy_blurb }}</p>
    </div> -->
    <div class='services__item services_installation'>
      <h3>Installation</h3>
      <!-- <img src='assets/images/{{ include.installation_image }}'> -->
      <p>{{ include.installation_blurb }}</p>
    </div>
    <div class='services__item services_maintenance'>
      <h3>Maintenance</h3> 
      <!-- <img src='assets/images/{{ include.maintenance_image }}'> -->
      <p>{{ include.maintenance_blurb }}</p>
    </div>
    <div class='services__item services_consulting'>
      <h3>Consulting</h3>
      <!-- <img src='assets/images/{{ include.consulting_image }}'> -->
      <p>{{ include.consulting_blurb }}</p>
    </div>
  </div>
</div>




