<div class='subscribe'>
  <div id='js_subscribe__text' class='subscribe__text'>

    <h2 class='subscribe__title'>Email newsletter</h2>

    <form
      class = 'subscribe__form'
      id = 'js_subscribe__form'
    >

      <input 
        id='js_subscribe__email' 
        type="email" 
        name="email" 
        class='subscribe__email js_float-label' 
      >
      <label class='floater js_unfloat'>Your email address</label>
      
      <button 
        type='submit'
        data-sitekey='6Lcv2OYrAAAAAErtTWksB5PRkngz_pmp5X5vhGet'
        data-callback='onSubmit' 
        data-action='submit'
      >Subscribe</button>

    </form>

  </div>
</div>




