<div class='values'>
  <img class='values__butterfly anim_floating' src='/assets/images/butterfly.gif'>
  <img class='values__bee anim_buzzing' src='/assets/images/bee.gif'>
  <div class='video_wrapper'>
    <video autoplay loop>
      <source src='/assets/video/beez.mp4' type='video/mp4'>
    </video> 
  </div>
  <div class='values__text'>
    <h2>Beautiful usable spaces for the long-haul</h2>
    <div class='values__item values_sustainable'>
      <h3>Sustainable</h3>
      <p>{{ include.sustainable_blurb }}</p>
      <!-- <img src='img/{{ include.sustainable_image }}'> -->
    </div>
    <div class='values__item values_lowmaintenance'>
      <h3>Low maintenance</h3>
      <p>{{ include.lowmaintenance_blurb }}</p>
      <!-- <img src='img/{{ include.lowmaintenance_image }}'> -->
    </div>
    <div class='values__item values_attractive'>
      <h3>Attractive</h3>
      <p>{{ include.attractive_blurb }}</p>
      <!-- <img src='img/{{ include.attractive_image }}'> -->
    </div>
    <!-- <div class='values__item values_pollinator'>
      <h3>Pollinator Friendly</h3>
      <p>{{ include.pollinator_blurb }}</p>
      <img src='img/{{ include.pollinator_image }}'> 
    </div> -->
    <div class='values__item values_spaces'>
      <h3>All people, all spaces</h3>
      <p>{{ include.spaces_blurb }}</p>
      <!-- <img src='img/{{ include.spaces_image }}'> -->
    </div>
  </div>
</div>




