<div class='values'>
  <img class='values__butterfly anim_floating-butterfly' src='/assets/images/butterfly-4.gif'>
  <img class='values__bee anim_buzzing' src='/assets/images/bee-2.gif'>
  <div class='video_wrapper'>
    <video autoplay loop>
      <source src='/assets/video/beez.mp4' type='video/mp4'>
    </video> 
  </div>
  <div class='values__text'>
    <!-- <h2>Beautiful usable spaces for the long-haul</h2> -->
    <h2>Have a yard, parkway, or balcony you'd like to turn into a garden? Here&rsquo;s how we can help.</h2>


    <div class='values__item values_sustainable'>
      <h3>Assess Your Space</h3>
      <hr class='val-hr'>
      <p>Tell us about your site conditions and garden dimensions, or let us do it for you.</p>
    </div>

    <div class='values__item values_sustainable'>
      <h3>Get Your Garden Plan</h3>
      <hr class='val-hr'>
      <p>We'll provide a plan tailored to your space, whether from one of our kits or a custom design, showing how many plants you need and where to plant them.</p>
    </div>

    <div class='values__item values_sustainable'>
      <h3>Receive Your Plants</h3>
      <hr class='val-hr'>
      <p>We source and deliver everything you need.</p>
    </div>

    <div class='values__item values_sustainable'>
      <h3>Get Growing</h3>
      <hr class='val-hr'>
      <p>We provide step-by-step instructions for bed preparation, planting, and ongoing maintenance.</p>
    </div>


  </div>
</div>




