/**
  * Base Styles
  *  
  * @description
  * site-wide styles unique to this project, 
  * only file where element selectors should be used
  */

html {
  background: color(neutral, XXX);
  scroll-behavior: smooth;
  transition: all .1s ease-in;
}

body {
  background: color(neutral, X);
  color: color(neutral, XXX);
  padding-top: 152px;
}

html, body {
  min-height: 100%; 
}

.content-wrapper {
  @include grid-parent($grid-mobile);
  @include respond-to(m){
    @include grid-parent($grid-16);
  }
  @include stack(lg);
}



// Typography
// ----------------------------------------------------------------------------

h1 {
  @include typestyle($sans-lg-bld);
  @include stack(xxs);
}

h2 {
  // @include typestyle($sans-lg-reg);
  @include typestyle($sans-md-bld);
  @include stack(xxs);
}

h3, legend, label {
  @include typestyle($sans-sm-bld);
}

h4 {
  @include typestyle($sans-xs-bld);
}

p, a, li {
  @include typestyle($sans-sm-reg);
}

h1, h2, h3, h4, p, ul {
  grid-column: 1 / 13;
}

mark{
  background: color(gold, X);
  color: color(neutral, XXX);
  // padding: 0 3px;
}

.gg_button {
    height: 42px;
    border-radius: 60px;
    background-color: color(green, XXX);
    text-align: center;
    color: color(green, X);
    @include typestyle($sans-sm-bld);
    grid-column: 1/5;
    position: relative;
    margin-left: bl(11);
    border: 2px solid color(green, XXX);
    padding: 0 bl(6);
    transition: all .1s ease-in;
    display: inline-block;

    &:hover {
      color: color(green, XXX);
      background-color: color(neutral, X);
    }

    &::before {
      display: inline-block;
      content: '';
      width: bl(11);
      height: bl(11);
      background: url('../images/arrow.svg');
      position: absolute;
      top: -3px;
      left: calc(#{bl(11)} * -1 - 3px);
    }
  }




// Animation
// ----------------------------------------------------------------------------

// a, button, div {
//   transition: all .1s ease-in;
// }

.anim_floating {
  position: relative;
  animation: floating 3s ease-in-out infinite;
}

.anim_buzzing {
  position: relative;
  animation: buzzing .5s ease-in-out infinite;
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes buzzing {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-5px, -2px);
  }
  50% {
    transform: translate(0, -4px);
  }
  75% {
    transform: translate(5px, -2px);
  }
  100% {
    transform: translate(0, 0);
  }
}




// Helpers
// ----------------------------------------------------------------------------

.display-none { display: none; }
.display-block { display: block; }
