/**
  * Component: Dashboard
  *  
  * @description
  * -
  */

.plantpicker {

  h1 {
    @include stack(md);
  }

  h2 {
    @include stack(sm);
    grid-column: 1/-1;
  }


  button {
    grid-column: span 2;
    @include typestyle($sans-sm-bld);
    @include stack(lg);
    height: 42px;
    border-radius: 60px;
    padding: bl(1.5) bl(4);
    background-color: color(green, XX);
    border: 2px solid color(green, XX);
    text-align: center;
    color: color(green, XXX);
    box-sizing: border-box;
    width: 140px;
    transition: all .1s ease-in;

    &:hover {
      text-decoration: none;
      border-color: color(neutral, XXX);
      color: color(green, X);
      background-color: color(neutral, XXX);
    }
  } 

  #filter_open {
    @include typestyle($sans-sm-bld);
    position: fixed;
    top: 24px;
    right: 100px;
    padding: 0;
    height: 32px;
    width: 70px;
    z-index: 10;
  }

  #signout_button {
    background-color: color(neutral, XX);
    border: 2px solid color(neutral, XX);
    &:hover {
      background-color: color(neutral, XXX);
      border: 2px solid color(neutral, XXX);
    }
  }

  ul {
    @include grid-child($cols: 16);
    list-style: none;
    @include stack(lg);
  }

  li {
    // grid-column: span 8;
    @include grid-child($cols: 8);
    padding-right: bl(6);
    @include stack(lg);
  }

  .plant-header { 
    grid-column: 1/-1;
    margin-bottom: 2px;
  }

  .plant-counter { 
    display: inline-block;
    width: 48px;
    margin-right: bl(4);
    @include typestyle($sans-xs-bld);
    border: none;
    padding: 2px 2px 2px 3px;
  }

  .plant-header h3 { 
    display: inline-block; 
    position: relative;
    top: 2px;
  }

  .datum {
    display: inline-block;
    // grid-column: span 8;
    @include grid-child($cols: 8);
    @include typestyle($sans-xs-reg);
    border-top: 1px solid #ccc;
    margin: bl(1) 0;
    padding: bl(1) 0;
  }

  .datum-top {
    border: none !important;
    margin-top: 0 !important;
  }

  .datum-name {
    padding-bottom: bl(2);
  }

  .datum-img {
    padding-top: bl(1);
    border-top: none !important;
  }

  .datum-condition,
  .datum-visual,
  .datum-feature {
    display: inline-block;
    grid-column: span 2;
  }

  .datum-eco,
  .datum-color,
  .datum-zone {
    display: inline-block;
    grid-column: span 4;
  }


  .datum-from,
  .datum-notes {
    display: inline-block;
    grid-column: span 8;
    @include typestyle($sans-xs-reg);
    border-top: 1px solid #ccc;
    margin: bl(1) 0;
    padding: bl(1) 0;
  }

  .datum-season {
    display: inline-block;
    grid-column: span 8;
    margin: bl(1) 0;
    // padding: bl(1) 0;
  }



  .datum-summary {
    @include typestyle($sans-sm-reg);
    grid-column: span 8;
    // margin: 0 0 .25rem 0;
    padding: 0 0 .75rem 0;
    display: inline-block; 
  }

  .datum-notes {
    padding-top: bl(2);
  }

  .datum-label {
    @include typestyle($sans-xs-bld);
    display: block;
    padding-bottom: bl(1);
  }

  .datum-icon {
    font-size: 18px;
    padding-top: 8px;
  }

  // .datum-eco .datum-label,
  // .datum-color .datum-label {
  //   display: inline-block;
  //   padding-right: bl(3);
  // }

  .color-pill {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 2px 12px;
    background-color: color(neutral, X);
    box-sizing: border-box;
    border-radius: 80px;
    margin-right: 2px;
    margin-top: 8px;
  }

  .color-pill-purple {
    color: color(neutral, X);
    background-color: color(purple, X);
    border-color: color(purple, X);
  }

  .color-pill-yellow {
    color: color(neutral, X);
    background-color: color(gold, X);
    border-color: color(gold, X);
  }

  .color-pill-white {
    color: color(neutral, XXX);
    background-color: white; //#707070;
    border-color: white;
  }

  .color-pill-orange {
    color: color(neutral, X);
    background-color: #d89116;
    border-color: #d89116;
  }

  .color-pill-red {
    color: color(neutral, X);
    background-color: color(red, X);
    border-color: color(red, X);
  }

  .color-pill-pink {
    color: color(neutral, XXX);
    background-color: #efb4b1;
    border-color: #efb4b1;
  }

  .color-pill-blue {
    color: color(neutral, X);
    background-color: #4c5ddb;
    border-color: #4c5ddb;
  }

  .color-pill-green {
    color: color(neutral, XXX);
    background-color: #a7bda7;
    border-color: #a7bda7;
  }

  .si-timeline {
    width: 100%;
    padding-top: bl(2);
  }

  .timeline_seg {
    border-left: 1px solid #ccc;
    height: 24px;
    width: 4.166666666%;
    display: inline-block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;

    &:last-child {
      border-right: 1px solid #ccc;
    }
  }

  .si_no, 
  .si_yes {
    width: 100%;
    height: 24px;
  }
  .si_no  { background-color: color(neutral, X); }
  .si_yes { background-color: color(neutral, XXX);   }

  .mar_e,
  .jun_e,
  .sept_e,
  .dec_e { height: 40px; }

  .mar_e:before,
  .jun_e:before,
  .sept_e:before,
  .dec_e:before {
    content: 'Mar';
    position: absolute;
    top: 28px;
    left: 6px;
  }

  .mar_e:before  { content: 'Mar'; }
  .jun_e:before  { content: 'Jun'; }
  .sept_e:before { content: 'Sept'; }
  .dec_e:before  { content: 'Dec'; }

  .details_open {
    grid-column: span 8;
    @include typestyle($sans-xs-bld);
    border-top: 1px solid #ccc;
    cursor: pointer;
    margin-top: bl(4);
    padding-top: bl(3);
  }

  .details_open:hover {
    text-decoration: underline;
  }

  .details_open:after {
    content: ' \2637';
  }


  .pl-visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-out; /* Transition for opacity */
  }

  .pl-hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-out, visibility 0s 0.3s;
  }


}


#plants-selected {
  min-height: 100vh;
  width: calc(100vw - 80px);
  background-color: color(neutral, XXX);
  position: fixed;
  top: 0;
  color: color(neutral, X);
  transition: all .1s ease-in;

  .content-wrapper {
    @include grid-parent($config: $grid-selected);
    padding-top: bl(6);
  }

  #selected-title {
    @include typestyle($sans-sm-bld);
  }
}







#plants-selected {
  #plantpicks {
    list-style: none;
  }

  #plantpicks li {
    padding: bl(5) 0 bl(4) 0;
    border-bottom: 1px solid color(neutral, XX);
  }

  .picks-count {
    width: 40px;
    margin-right: 0;
    display: inline-block;
  }

  .picks-name {

  }
}

#plants-selected.closed {
  left: calc(100vw - 80px);
}

#plants-selected.open {
  left: calc(80px);
}







#plantfilter {
  height: calc(100vh - 48px);
  width: 600px;
  border-radius: 12px;
  border: 1.5px solid color(neutral, XXX);
  position: fixed;
  top: 24px;
  right: 100px;
  background-color: color(neutral, XX);
  overflow: scroll;
  transition: .1s all ease-in;
  transition-behavior: allow-discrete;
  z-index: 99;

  #filter_close {
    color: color(red, X);
    @include typestyle($sans-sm-bld);
    position: absolute;
    top: 2px;
    right: 0;
  }

  #filter_close:hover {
    background: transparent;
    color: color(red, XX);
  }

  .content-wrapper {
    @include grid-parent($config: $grid-selected);
    padding-top: bl(6);
    padding-bottom: 0;
    margin-bottom: bl(10) !important;
  }

  form {
    @include grid-child($cols: 12);
  }

  fieldset {
    grid-column: 1/-1;
    @include stack(xs);
    border: none;
    border-top: 1px solid #ccc;
    padding: bl(3) 0;
    position: relative;
    width: auto;
  }

  fieldset.halfsy {
    grid-column: span 6;
  }

  fieldset.section_starter {
    border-top: 1px solid color(neutral, XXX);
    margin-top: bl(12);
  }

  fieldset:last-of-type {
    border-bottom: 1px solid color(neutral, XXX);
    padding-bottom: bl(6);
    margin-bottom: bl(6) !important;
  }

  label {
    @include typestyle($sans-sm-reg);
  }

  h3 {
    @include typestyle($sans-sm-bld);
    top: 2px;
    background-color: transparent;
    border: none;
    position: relative;
    margin-bottom: 0;
  }

  h3.inline {
    display: inline-block;
  }

  fieldset.query_name {
    border-top: 1px solid color(neutral, XXX);
    margin-top: bl(5);
  }

  .query_name h3 {
    display: inline-block;
    width: 60px;
    padding-top: bl(1);
    padding-bottom: bl(1);
  }

  .query_name input {
    display: inline-block;
    @include typestyle($sans-sm-reg);
    background-color: color(neutral, XX);
    border: solid 1.5px color(neutral, XXX);
    color: color(neutral, XXX);
    @include stack(xs);
    outline: none;
    padding: bl(3);
    box-sizing: border-box;
    border-radius: 8px;
    // width: calc(100% - 64px);
    width: 100%;
    float: right;
  }

  .query_name input:focus {
    border: solid 1.5px color(neutral, XXX);
    color: color(neutral, XXX);
    background-color: color(neutral, X);
    outline: none;
  }

  .checkbig {
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-right: bl(3);
    position: relative;
    top: 8px;
  }

  .checkbig input {
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
    position: absolute;
  }

  .checkbig span {
    width: 100%;
    height: 100%;
    pointer-events: none;
    cursor: pointer;
    border: 1px solid color(neutral, XXX);
    border-radius: 4px;
    display: inline-block;
  }

  .checkbig input[type="checkbox"]:checked + span {
    background-color: color(neutral, XXX);
    position: relative;
  }

  .checkbig input.cb_native:checked + span:after {
    color: color(neutral, XX);
    font-size: 28px;
    content: '\273F'; 
    position: absolute;
    top: -1px;
    left: 1px;
  }

  .checkbig input.cb_easy:checked + span:after {
    color: color(neutral, XX);
    font-size: 28px;
    content: '\263B'; 
    position: absolute;
    top: 0;
    left: 2px;
  }

  .checkbig input.cb_xerophytic:checked + span:after {
    color: color(neutral, XX);
    font-size: 28px;
    content: '\224B'; 
    position: absolute;
    top: -2px;
    left: 2px;
  }

  .checkbig input.cb_edible:checked + span:after {
    color: color(neutral, XX);
    font-size: 28px;
    content: '\2665'; 
    position: absolute;
    top: -1px;
    left: 4px;
  }

  .checkbig input.cb_deer:checked + span:after {
    color: color(neutral, XX);
    font-size: 28px;
    content: '\262E'; 
    position: absolute;
    top: -2px;
    left: 1px;
  }

  .checkpill {
    display: inline-block;
    box-sizing: border-box;
    width: auto;
    height: auto;
    position: relative;
    margin-top: bl(1);
  }

  .checkpill input {
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
    top: -3px;
    position: absolute;
  }

  .checkpill label {
    pointer-events: none;
    // margin-left: -20px;
    border: 1px solid #ccc;
    padding: 2px 12px;
    background-color: color(neutral, X);
    box-sizing: border-box;
    border-radius: 80px;
    // margin-right: 2px;
    margin-top: 8px;
    transition: all .1s ease-in;
  }

  .checkpill input[type="checkbox"]:checked + label {
    color: color(neutral, X);
    background-color: color(neutral, XXX);
    border-color: color(neutral, XXX);
  }

  .checkpill input[type="checkbox"]:checked + label.purple {
    color: color(neutral, X);
    background-color: color(purple, X);
    border-color: color(purple, X);
  }

  .checkpill input[type="checkbox"]:checked + label.yellow {
    color: color(neutral, X);
    background-color: color(gold, X);
    border-color: color(gold, X);
  }

  .checkpill input[type="checkbox"]:checked + label.white {
    color: color(neutral, X);
    background-color: #707070;
    border-color: #707070;
  }

  .checkpill input[type="checkbox"]:checked + label.orange {
    color: color(neutral, X);
    background-color: #d89116;
    border-color: #d89116;
  }

  .checkpill input[type="checkbox"]:checked + label.red {
    color: color(neutral, X);
    background-color: color(red, X);
    border-color: color(red, X);
  }

  .checkpill input[type="checkbox"]:checked + label.pink {
    color: color(neutral, XXX);
    background-color: #efb4b1;
    border-color: #efb4b1;
  }

  .checkpill input[type="checkbox"]:checked + label.blue {
    color: color(neutral, X);
    background-color: #4c5ddb;
    border-color: #4c5ddb;
  }


  .checkseg {
    margin-top: bl(2);
    float: left;
    box-sizing: border-box;
    width: 4.1666666666%;
    border-left: 1.5px solid #aaa;
    height: 24px;
    position: relative;
  } 

  .checkseg:last-child {
    border-right: 1.5px solid #aaa;
  }

  .checkseg input {
    width: 100%;
    height: 24px;
    cursor: pointer;
    opacity: 0;
    position: absolute;
    top: -3px;
    left: -4px;
  }

  .checkseg span {
    pointer-events: none;
    display: inline-block;
    width: 100%;
    height: 24px;
    background-color: color(neutral, XX);
    transition: all .1s ease-in;
  }

  .checkseg input[type="checkbox"]:checked + span {
    background-color: color(neutral, XXX);
  }


  .checkseg_mar_e,
  .checkseg_jun_e,
  .checkseg_sept_e,
  .checkseg_dec_e {
    height: 42px;
  }

  .checkseg_mar_e label,
  .checkseg_jun_e label,
  .checkseg_sept_e label,
  .checkseg_dec_e label {
    @include typestyle($sans-xs-bld);
    position: absolute;
    left: 6px;
    bottom: 0;
  }


// FROM: https://medium.com/@predragdavidovic10/native-dual-range-slider-html-css-javascript-91e778134816
// And then edited...
// --------------------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------------------
  .range_container {
    // display: flex;
    // flex-direction: column;
    position: relative;
    width: 100%;
    margin: bl(10) auto 0;
  }

  .sliders_control {
    position: relative;
    min-height: 32px;
  }

  .form_control {
    position: absolute;
    top: -12px;
    width: 100%;
    // display: flex;
    // justify-content: space-between;
    @include typestyle($sans-sm-bld);
    color: color(neutral, XXX);
  }

  .form_control_container_min,
  .form_control_container_max {
    position: absolute;
    top: 0;
  }

  .form_control_container_min { left: 0; }
  .form_control_container_max { right: 0; }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 16px;
    height: 16px;
    background-color: color(neutral, XX);
    border: none;
    border-radius: 50%;
    box-shadow: none;
    cursor: pointer;
  }

  input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 16px;
    height: 16px;
    background-color: color(neutral, XXX);
    border: none;
    border-radius: 50%;
    box-shadow: none;
    cursor: pointer;  
  }

  input[type="number"] {
    color: color(neutral, XXX);
    width: 48px;
    @include typestyle($sans-xs-bld);
    border: none;
    padding: 2px 2px 2px 3px;
  }

  input[type="range"] {
    -webkit-appearance: none; 
    appearance: none;
    height: 2px;
    width: calc(100% - 80px * 2);
    position: absolute;
    left: 80px;
    pointer-events: none;
    z-index: 0;
  }

  #fromSlider {
    height: 0;
    z-index: 1;
  }

  .buttons_wrapper {
    grid-column: 1/6;
  }

  button {
    @include typestyle($sans-sm-bld);
    height: 42px;
    border-radius: 60px;
    padding: bl(2) bl(4);
    text-align: center;
    transition: all .1s ease-in;
    margin-top: bl(2);
    &:hover {
      text-decoration: none;
      border-color: color(green, X);
      color: color(green, X);
      background-color: color(green, XXX);
    }
  }

  .button_filter {   
    background-color: color(green, XX);
    border: 2px solid color(green, XX);
    color: color(green, XXX);
  }

  .button_reset {
    background-color: color(neutral, X);
    border: 2px solid color(neutral, X);
    color: color(green, XXX);
    font-size: 28px;
    padding: bl(1) bl(2);
  }

}

// #plantfilter.filter_open {
//   display: block;
// }

// #plantfilter.filter_closed {
//   display: none;
// }





#details_pane {
  height: calc(100vh - 48px);
  width: 600px;
  border-radius: 12px;
  border: 1.5px solid color(neutral, XXX);
  position: fixed;
  top: 24px;
  right: 100px;
  background-color: color(neutral, XX);
  overflow: scroll;
  transition: .1s all ease-in;
  transition-behavior: allow-discrete;
  z-index: 99;

  #details_close {
    color: color(red, X);
    @include typestyle($sans-sm-bld);
    position: absolute;
    top: 2px;
    right: 0;
  }

  #details_close:hover {
    background: transparent;
    color: color(red, XX);
  }

  .content-wrapper {
    @include grid-parent($config: $grid-selected);
    padding-top: bl(6);
    padding-bottom: 0;
    margin-bottom: bl(10) !important;
  }


}

// #plantdetails_pane.details_open {
//   display: block;
// }

// #plantdetails_pane.details_closed {
//   display: none;
// }

@starting-style {
  #plants-selected.display-none,
  #details_pane.display_none { 
    display: none;
    opacity: 0;
  }
}
