/**
  * Component: Header
  *  
  * @description
  * -
  */

header {
	background: color(neutral, X);
  width: 100vw;
  padding: bl(5) 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  .header__text {
  	@include grid-parent($grid-mobile);
    @include respond-to(m){
      @include grid-parent($grid-16);
    }
    
    .nav__masthead {
    	grid-column: 1 / 7;
    }

    .nav__menu {
      display: none;
      @include respond-to(m){
        display: block;
      }
    }

    .nav__mobile-menu {
      display: block;
      @include respond-to(m){
        display: none;
      }
    }

    .mobile-menu__toggle::before {
      @include typestyle($icon-sm);
      content: '\ead1';
    }




    h1, h1 a {
      @include typestyle($sans-sm-bld); // set 2x cuz line-height applies to h1 and font to the a tag
    }

    nav {
    	color: color(neutral, XXX);
    	grid-column: 7 / -1;
      justify-self: end;
    }

    nav ul {
    	list-style: none;
    }

    nav ul li {
    	display: inline-block;
      padding-left: bl(4);
    }

    nav ul a:hover {
      text-decoration: underline;
      text-decoration-thickness: 2px;
    }

    .nav-desktop__contact-btn {
      @include typestyle($sans-sm-bld);
      height: 42px;
      border-radius: 60px;
      padding: bl(1.5) bl(4);
      background-color: color(green, XX);
      border: 2px solid color(green, XX);
      text-align: center;
      margin-left: bl(4);
      color: color(green, XXX);
      box-sizing: border-box;
      // display: inline-block;
      transition: all .1s ease-in;

      &:hover {
        text-decoration: none;
        background-color: color(neutral, X);
        border-color: color(neutral, XXX);
      }
    }
  }

}

