/**
  * Component: Hero
  *  
  * @description
  * -
  */

.hero {
	@include grid-parent($grid-mobile);
  @include respond-to(m){
    @include grid-parent($grid-16);
  }
  @include stack(lg);
  
  .hero__deck {
    grid-column: 1 / -1;
    @include stack(md);
    position: relative;
    @include typestyle($sans-lg-reg);
  }

  // .hero__deck p {
  //   @include typestyle($sans-lg-reg);
  //   display: inline;
  // }

  .hero__deck span.logo {
    @include typestyle($sans-lg-bld);
    color: color(gold, X);
  }

  .hero__deck img {
    display: none;
    width: 112px;
    position: relative;
    left: 6px;
    // padding-right: 4px;
    top: 0;
    @include respond-to(m){
      display: inline;
    }
  }

  .bttn_wrapper {
    grid-column: 1/-1;
  }

  .hero__bttn {
    @include typestyle($sans-md2-reg);
    height: 60px;
    border-radius: 60px;
    padding: 0 bl(10);
    margin-left: bl(15);
    &::before {
      width: bl(15);
      height: bl(15);
      left: calc(#{bl(15)} * -1 - 3px);
    }
  }
  // .hero__cta {
  //   height: 42px;
  //   border-radius: 60px;
  //   background-color: color(green, XXX);
  //   text-align: center;
  //   color: color(green, X);
  //   @include typestyle($sans-sm-bld);
  //   grid-column: 1/5;
  //   position: relative;
  //   margin-left: bl(11);
  //   border: 2px solid color(green, XXX);

  //   &:hover {
  //     color: color(green, XXX);
  //     background-color: color(neutral, X);
  //   }

  //   &::before {
  //     display: inline-block;
  //     content: '';
  //     width: bl(11);
  //     height: bl(11);
  //     background: url('../images/arrow.svg');
  //     position: absolute;
  //     top: -3px;
  //     left: calc(#{bl(11)} * -1 - 3px);
  //   }
  // }

}

