/**
  * Component: Community
  *  
  * @description
  * -
  */

.community {
  @include stack(lg);
  width: 100vw;

  .community_img {
    width: calc(100vw - 60px);
    height: calc(100vw - 60px * .25);
    margin: 0 auto;
    border-radius: 8px;
    @include stack(md);
    position: relative;
    overflow: hidden;
    @include respond-to(s){
      height: auto;
    }
  }

  .community_img-bg {
    height: 100%;
    max-width: none;
    position: relative;
    right: 220%;
    @include respond-to(s){
      width: 100%;
      height: auto;
      right: unset;
    }
  }

  .community_img-bird {
    display: none;
    @include respond-to(l){
      display: block;
      @include grid-parent($grid-16);
      position: absolute;
      left: 75px;
      top: 125px;
      width: 250px;
    }
  }

  .community_text {
    @include grid-parent($grid-mobile);
    @include respond-to(m){
      @include grid-parent($grid-16);
    }
  }

  h2 {
    grid-column: 1/-1;
  }

  .community__cta {
    grid-column: 1/16;
  }

  .community__cta p {
    @include stack(md);
    @include typestyle($sans-md-reg);
  }

  // .community__cta button {
  //   height: 42px;
  //   border-radius: 60px;
  //   padding: 0 bl(8);
  //   background-color: color(green, XXX);
  //   text-align: center;
  //   color: color(green, X);
  //   @include typestyle($sans-sm-bld);
  //   position: relative;
  //   margin-left: bl(11);

  //   &::before {
  //     display: inline-block;
  //     content: '';
  //     width: bl(11);
  //     height: bl(11);
  //     background: url('../images/arrow.svg');
  //     position: absolute;
  //     top: 0;
  //     left: calc(bl(11) * -1);
  //   }
  // }
}

