/**
  * Component: Values
  *  
  * @description
  * -
  */

.values {
  width: 100vw;
  background: color(green, X);
  color: color(purple, XX);
  @include stack(xl);
  padding: 50px 0;
  text-align: center;
  position: relative;

  .values__butterfly {
    z-index: 50;
    position: absolute;
    right: 60px;
    top: -60px;
    width: 250px;
  }

  .values__bee {
    z-index: 50;
    position: absolute;
    left: 120px;
    bottom: 400px;
    width: 150px;
  }

  .video_wrapper{
    width: calc(100vw - 60px);
    height: calc((100vw - 100px) * .45);
    border-radius: 8px;
    margin: 0 auto 20px auto;
    overflow: hidden;
  }

  video{
    width: 100%;
  }

  .values__text{
    @include grid-parent();
    text-align: left;

    h2 {
      grid-column: 1/-1;
      @include stack(sm);
    }

    .values__item {
      grid-column: span 4;
    }

    .values__item h3 {
      // @include typestyle($sans-md-reg);
      @include stack(xs);
      border-bottom: 1px solid color(purple, XX);
    }

  }

}

