/**
  * Component: Values
  *  
  * @description
  * -
  */

.values {
  width: 100vw;
  background: color(green, X);
  color: color(purple, XX);
  @include stack(lg);
  padding: 0 0 50px 0;
  text-align: center;
  position: relative;
  @include respond-to(m){
    padding: 50px 0;
    @include stack(xl);
  }


  .values__butterfly {
    z-index: 50;
    position: absolute;
    right: 60px;
    top: -60px;
    width: 250px;
  }

  .values__bee {
    z-index: 50;
    position: absolute;
    left: 120px;
    bottom: 300px;
    width: 150px;
    display: none;
    @include respond-to(l){
      display: block;
    }
  }

  .video_wrapper{
      width: calc(100vw);
      height: calc((100vw) * .45);
      margin: 0 auto 20px auto;
    overflow: hidden;
    @include respond-to(m){
      width: calc(100vw - 60px);
      height: calc((100vw - 100px) * .45);
      border-radius: 8px;
    }
  }

  video{
    width: 100%;
  }

  .values__text{
    @include grid-parent($grid-mobile);
    @include respond-to(m){
      @include grid-parent($grid-16);
    }
    text-align: left;

    h2 {
      grid-column: 1/-1;
      @include stack(sm);
    }

    .values__item {
      grid-column: span 16;
      @include stack(sm);
      @include respond-to(s){
        grid-column: span 8;
      }
      @include respond-to(m){
        grid-column: span 4;
      }
    }

    .values__item h3 {
      // @include typestyle($sans-md-reg);
      @include stack(xxs);
      border-bottom: 1px solid color(purple, XX);
    }

  }

}

