/**
  * Component: Values
  *  
  * @description
  * -
  */

.values {
  width: 100vw;
  background: color(green, X);
  color: color(purple, XX);
  @include stack(lg);
  padding: 0 0 50px 0;
  text-align: center;
  position: relative;
  @include respond-to(m){
    padding: 30px 0 50px 0;
    @include stack(xl);
  }


  .values__butterfly {
    z-index: 50;
    position: absolute;   
    display: none;
    @include respond-to(m){
      display: block;
      width: 212px;
      top: 32px;
      right: 120px;
    }
    @include respond-to(l){
      display: block;
      width: 300px;
      top: -52px;
      right: 140px;
    }
  }

  .values__bee {
    z-index: 50;
    position: absolute;
    left: 80px;
    bottom: 420px;
    width: 120px;
    display: none;
    @include respond-to(l){
      display: block;
    }
  }

  .video_wrapper{
      width: calc(100vw);
      height: calc((100vw) * .45);
      margin: 0 auto 20px auto;
    overflow: hidden;
    @include respond-to(m){
      width: calc(100vw - 60px);
      height: calc((100vw - 100px) * .45);
      border-radius: 8px;
    }
  }

  video{
    width: 100%;
  }

  .values__text{
    @include grid-parent($grid-mobile);
    @include respond-to(m){
      @include grid-parent($grid-16);
    }
    text-align: left;

    h2 {
      grid-column: 1/-1;
      @include stack(sm);
    }

    .values__item {
      grid-column: span 16;
      @include stack(sm);
      @include respond-to(s){
        grid-column: span 8;
      }
      // @include respond-to(m){
      //   grid-column: span 4;
      // }
    }

    .values__item h3 {
      @include typestyle($sans-md2-reg);
      padding-bottom: 6px;
      // border-bottom: 1.75px solid rgba(79,72,101,.25);
      text-shadow:
        -2px -2px 0 color(green, X), /* Top-left shadow */
        2px -2px 0 color(green, X),  /* Top-right shadow */
        -7px 2px 0 color(green, X),  /* Bottom-left shadow */
        2px 2px 0 color(green, X);   /* Bottom-right shadow */
    }

    .values__item h3:before {
      // @include typestyle($sans-md2-reg);
      content:'\263B';
      color: color(gold, XX);
      padding-right: 8px;
      font-size: 28px;
      opacity: .8;
      @include respond-to(m){
        padding-right: 12px;
        font-size: 38px;
      }
    }

    .values__item p {
      color: color(purple, XXX);
      @include typestyle($sans-sm-reg);
      margin-top: 0;
      padding-top: 0;
    }

    .val-hr {
      margin-top: -8px;
      border: none;
      border-bottom: 2px solid rgba(79,72,101,.35);
      @include respond-to(m){
        margin-top: -12px;
      }
    }

  }

}

