/**
  * Component: Header
  *  
  * @description
  * -
  */

header {
	background: color(neutral, X);
  width: 100vw;
  padding: bl(5) 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  .header__text {
  	@include grid-parent($grid-mobile);
    @include respond-to(m){
      @include grid-parent($grid-16);
    }
    
    .nav__masthead {
    	grid-column: 1 / 7;
    }

    .nav__menu {
      display: none;
      @include respond-to(l){
        display: block;
      }
    }

    .nav__mobile-menu {
      display: block;
      position: relative;
      @include respond-to(l){
        display: none;
      }
    }

    .mobile-menu__toggle {
      @include typestyle($sans-sm-bld);
      &:hover {
        cursor: pointer;
      }
    }
    

    .mobile-menu__toggle::before {
      @include typestyle($icon-sm);
      position: relative;
      right: 4px;
    }

    .mobile-menu__pane {
      background-color: color(neutral, XXX);
      color: color(green, X);
      padding: bl(4) bl(5);
      position: absolute;
      top: bl(13);
      left: 0;
      width: 50vw;
      transition: opacity .25s ease-in, display .25s ease-in allow-discrete;
    }

    .mobile-menu__pane ul li {
      display: block;
      @include stack(xxs);
      padding-left: 0;
    }

    .mobile-menu__pane ul li a {
      @include typestyle($sans-sm-bld);
    }

    .js-dd__pane-hidden {
      opacity: 0;
      display: none;
    }

    .js-dd__pane-visible {
      opacity: 1;
      display: block;
    }

    .js-dd__toggle-closed::before {
      content: '\e901';
      top: 2px;
    }

    .js-dd__toggle-open::before {
      content: '\2716';
      color: color(red, XX);
    }


    h1, h1 a {
      @include typestyle($sans-sm-bld); // set 2x cuz line-height applies to h1 and font to the a tag
    }

    nav {
    	color: color(neutral, XXX);
    	grid-column: 7 / -1;
      justify-self: end;
    }

    nav ul {
    	list-style: none;
    }

    nav ul li {
    	display: inline-block;
      padding-left: bl(4);
    }

    nav ul a:hover {
      text-decoration: underline;
      text-decoration-thickness: 2px;
    }

    .nav-desktop__contact-btn {
      @include typestyle($sans-sm-bld);
      height: 42px;
      border-radius: 60px;
      padding: bl(1.5) bl(4);
      background-color: color(green, XX);
      border: 2px solid color(green, XX);
      text-align: center;
      margin-left: bl(4);
      color: color(green, XXX);
      box-sizing: border-box;
      transition: all .1s ease-in;

      &:hover {
        text-decoration: none;
        background-color: color(neutral, X);
        border-color: color(neutral, XXX);
      }
    }
  }

}

