/**
  * Component: DIY
  *  
  * @description
  * -
  */

.diy {
  @include grid-parent($grid-mobile);
  @include respond-to(m){
    @include grid-parent($grid-16);
  }
  @include stack(xxl);


  img {
    display: none;
    grid-column: 2/15;
    border-radius: 800px;
    margin-top: -100px;
    @include respond-to(m){
      display: block;
      grid-column: 1/7;
    }
  }

  h2, .diy__cta {
    grid-column: 1/-1;
    @include respond-to(m){
      grid-column: 7/-1;
    }
  }

  .diy__cta p {
    @include stack(md);
    @include typestyle($sans-md-reg);
  }

  // .diy__cta button {
  //   height: 42px;
  //   border-radius: 60px;
  //   padding: 0 bl(8);
  //   background-color: color(green, XXX);
  //   text-align: center;
  //   color: color(green, X);
  //   @include typestyle($sans-sm-bld);
  //   position: relative;
  //   margin-left: bl(11);

  //   &::before {
  //     display: inline-block;
  //     content: '';
  //     width: bl(11);
  //     height: bl(11);
  //     background: url('../images/arrow.svg');
  //     position: absolute;
  //     top: 0;
  //     left: calc(bl(11) * -1);
  //   }
  // }
}

