/**
  * Layout Configuration
  *
  * @description
  * Grid, breakpoint, and layout configuration to be used with the 
  * grid-parent(), grid-child(), respond-to(), and layout-regions() mixins. 
  *
  * The configuration requires 3 steps:
  * - Define the grid system's parameters
  *   The basic configuration of the grid is done through the $layout-grid map.
  *   Additional maps can be added for multiple configurations. 'gutter-v' is
  *   set as a number of baselines, no unit value is required.
  *  
  * - Specify breakpoints
  *   All breakpoints need to be included in the $breakpoints map. It should be
  *   indexed with tshirt sizes for the primary steps, and px values for 
  *   one-off breakpoints.
  *    
  * - Establish layout regions
  *   Regions are defined as classnames, and asigned a label using the 
  *   grid-area property. Regions are collected into layouts using the 
  *   grid-template-areas property within teh layout-regions() mixin. 
  * 
  * For more detailed documentation see the code guidelines  
  */





// Grid Configuration
// ----------------------------------------------------------------------------

/**
  * $layout-grid
  *
  * @description
  * The default map for defining the grid system.
  *
  *
  */

$grid-12: (
  columns   : 16,
  rows      : auto,
  gutter-h  : 24px,
  gutter-v  : 0,
  width     : calc(100% - 80px * 2),
  max-width : 1240px,
);

$grid-full: (
  columns   : 5,
  rows      : auto,
  gutter-h  : 24px,
  gutter-v  : 0,
  width     : 100vw,
);

$grid-selected: (
  columns   : 12,
  rows      : auto,
  gutter-h  : 24px,
  gutter-v  : 0,
  width     : calc(100% - 12px * 2),
  max-width : 2100px,
);




// Breakpoints
// ----------------------------------------------------------------------------

/**
  * $breakpoints
  *
  * @description
  * Map for all the project's breakpoints 
  *
  * (Initial values are placeholder from Bootstrap)
  */

$breakpoints: (
  s : 900px,
  m : 992px,
  l : 1200px,
);