/**
  * Typestyle Configuration
  *
  * @description
  * Type styles configuration to be used with the typestyle() mixin. 
  *
  * The configuration requires 3 steps:
  * - Set the base variables
  *   The base font-size should remain 100%, the baseline height is set in
  *   rems, but no unit should be provided
  *  
  * - Define the fonts
  *   Each font definition requires the stack, and a ratio measurement to
  *   align the font on the baseline. Common ratios are available here:
  *   jamonserrano.github.io/plumber-sass/baselines
  *   A tool for measuring ratios not provided in the list is available here:
  *   jamonserrano.github.io/plumber-sass/measure
  *    
  * - Specify typestyles
  *   Each type style is defined in a map with keys for each of the
  *   breakpoints. The value for each key is a list that provides the 
  *   font-style, font-variant, font-weight, font-size, line-height, 
  *   font-family, letter-spacing, and word-spacing. The font-size, 
  *   letter-spacing, and word-spacing are set in rems. The line-height is
  *   set as the number of baselines required.
  * 
  */





// Base Variables
// ----------------------------------------------------------------------------

$base-font-size: 100%;
$baseline-height: 0.25; //rem





// Font Definitions
// ----------------------------------------------------------------------------

$sans: (
  stack: #{'Alegreya Sans', sans-serif},
  ratio: .189
);

@font-face {
  font-family: icon;
  src: url(../fonts/icomoon/fonts/icomoon.woff);
}

$icon: (
  stack: #{icon, sans-serif},
  ratio: .189
);







// Type Styles
// ----------------------------------------------------------------------------

// calcs assuming 1rem = 16px 


// The value for each key is a list that provides the 
// font-style, font-variant, font-weight, font-size, line-height, 
// font-family, letter-spacing, and word-spacing. The font-size, 
// letter-spacing, and word-spacing are set in rems. The line-height is
// set as the number of baselines required



// LG 72/72

$sans-lg-reg: (
  null    : (normal, normal, 400, 3,  13,  $sans, 0, 0),
  s       : (normal, normal, 400, 3,  13,  $sans, 0, 0),
  m       : (normal, normal, 400, 5,  19,  $sans, 0, 0),
  l       : (normal, normal, 400, 5,  19,  $sans, 0, 0),   
);

$sans-lg-bld: (
  null    : (normal, normal, 700, 3,  13,  $sans, 0, 0),
  s       : (normal, normal, 700, 3,  13,  $sans, 0, 0),
  m       : (normal, normal, 700, 5,  19,  $sans, 0, 0),
  l       : (normal, normal, 700, 5,  19,  $sans, 0, 0),   
);


// MD2  

$sans-md2-reg: (
  null    : (normal, normal, 400, 2,     9,  $sans, 0, 0),
  s       : (normal, normal, 400, 2,     9,  $sans, 0, 0),
  m       : (normal, normal, 400, 2.5,  13,  $sans, 0, 0),
  l       : (normal, normal, 400, 2.5,  13,  $sans, 0, 0),   
);

$sans-md2-bld: (
  null    : (normal, normal, 700, 2,     9,  $sans, 0, 0),
  s       : (normal, normal, 700, 2,     9,  $sans, 0, 0),
  m       : (normal, normal, 700, 2.5,  13,  $sans, 0, 0),
  l       : (normal, normal, 700, 2.5,  13,  $sans, 0, 0),   
);



// MD 52/52   

$sans-md-reg: (
  null    : (normal, normal, 400, 2.25,  9,  $sans, 0, 0),
  s       : (normal, normal, 400, 2.25,  9,  $sans, 0, 0),
  m       : (normal, normal, 400, 3.25,  13,  $sans, 0, 0),
  l       : (normal, normal, 400, 3.25,  13,  $sans, 0, 0),   
);

$sans-md-bld: (
  null    : (normal, normal, 700, 2.25,  9,  $sans, 0, 0),
  s       : (normal, normal, 700, 2.25,  9,  $sans, 0, 0),
  m       : (normal, normal, 700, 3.25,  13,  $sans, 0, 0),
  l       : (normal, normal, 700, 3.25,  13,  $sans, 0, 0),   
);


// SM 20/24

$sans-sm-reg: (
  null    : (normal, normal, 400, 1.25,    6,  $sans, 0, 0),
  s       : (normal, normal, 400, 1.25,    6,  $sans, 0, 0),
  m       : (normal, normal, 400, 1.3125,  6,  $sans, 0, 0),
  l       : (normal, normal, 400, 1.3125,  6,  $sans, 0, 0),   
);

$sans-sm-bld: (
  null    : (normal, normal, 700, 1.25,    6,  $sans, 0, 0),
  s       : (normal, normal, 700, 1.25,    6,  $sans, 0, 0),
  m       : (normal, normal, 700, 1.3125,  6,  $sans, 0, 0),
  l       : (normal, normal, 700, 1.3125,  6,  $sans, 0, 0),   
);


// XS 14.5/16

$sans-xs-reg: (
  null    : (normal, normal, 400, .90625,  4,  $sans, 0, 0),
  s       : (normal, normal, 400, .90625,  4,  $sans, 0, 0),
  m       : (normal, normal, 400, .90625,  4,  $sans, 0, 0),
  l       : (normal, normal, 400, .90625,  4,  $sans, 0, 0),   
);

$sans-xs-bld: (
  null    : (normal, normal, 700, .90625,  4,  $sans, 0, 0),
  s       : (normal, normal, 700, .90625,  4,  $sans, 0, 0),
  m       : (normal, normal, 700, .90625,  4,  $sans, 0, 0),
  l       : (normal, normal, 700, .90625,  4,  $sans, 0, 0),   
);



$icon-xl: (
  null    : (normal, normal, 400, 8.5,  34,  $icon, -.025, 0),
  s       : (normal, normal, 400, 8.5,  34,  $icon, -.025, 0),
  m       : (normal, normal, 400, 8.5,  34,  $icon, -.025, 0),
  l       : (normal, normal, 400, 8.5,  34,  $icon, -.025, 0),   
);

$icon-lg: (
  null    : (normal, normal, 400, 3.5,  13,  $icon, -.025, 0),
  s       : (normal, normal, 400, 3.5,  13,  $icon, -.025, 0),
  m       : (normal, normal, 400, 3.5,  13,  $icon, -.025, 0),
  l       : (normal, normal, 400, 3.5,  13,  $icon, -.025, 0),    
);

$icon-md: (
  null    : (normal, normal, 400, 1.75,  9,  $icon, 0, 0),
  s       : (normal, normal, 400, 1.75,  9,  $icon, 0, 0),
  m       : (normal, normal, 400, 1.75,  9,  $icon, 0, 0),
  l       : (normal, normal, 400, 1.75,  9,  $icon, 0, 0),    
);

$icon-sm: (
  null    : (normal, normal, 400, 1.0625,  5,  $icon, 0, 0),
  sm      : (normal, normal, 400, 1.0625,  5,  $icon, 0, 0),
  md      : (normal, normal, 400, 1.0625,  5,  $icon, 0, 0),
  lg      : (normal, normal, 400, 1.0625,  5,  $icon, 0, 0),    
);

$icon-xs: (
  null    : (normal, normal, 400, 0.875,  5,  $icon, 0, 0),  
  s       : (normal, normal, 400, 0.875,  5,  $icon, 0, 0),
  m       : (normal, normal, 400, 0.875,  5,  $icon, 0, 0),
  l       : (normal, normal, 400, 0.875,  5,  $icon, 0, 0),   
);

