# Use DecapBridge PKCE auth (required)
backend:
  name: git-gateway
  repo: sbx-bnagle/growgood
  branch: main
  auth_type: pkce
  base_url: https://auth.decapbridge.com
  auth_endpoint: /sites/bc97b2c7-86e6-4245-bcf3-e5e025311555/pkce
  auth_token_endpoint: /sites/bc97b2c7-86e6-4245-bcf3-e5e025311555/token
  gateway_url: https://gateway.decapbridge.com

  # See who did what (optional)
  commit_messages:
    create: Create {{collection}} “{{slug}}” - {{author-name}} <{{author-login}}> via DecapBridge
    update: Update {{collection}} “{{slug}}” - {{author-name}} <{{author-login}}> via DecapBridge
    delete: Delete {{collection}} “{{slug}}” - {{author-name}} <{{author-login}}> via DecapBridge
    uploadMedia: Upload “{{path}}” - {{author-name}} <{{author-login}}> via DecapBridge
    deleteMedia: Delete “{{path}}” - {{author-name}} <{{author-login}}> via DecapBridge
    openAuthoring: Message {{message}} - {{author-name}} <{{author-login}}> via DecapBridge

# Enable PKCE fields (optional, recommended)
auth:
  email_claim: email
  first_name_claim: first_name
  last_name_claim: last_name
  avatar_url_claim: avatar_url

# Better Decap + Bridge logo (optional)
logo_url: https://decapbridge.com/decapcms-with-bridge.svg

# Add site links in Decap CMS (optional)
site_url: https://growgoodgardens.com

media_folder: "assets/images" # Folder where media files will be stored
public_folder: "/assets/images" # Public path for media files

collections:
  - name: "posts"
    label: "Posts"
    folder: "_posts"
    create: true
    path: "{{category}}/{{year}}-{{month}}-{{day}}-{{slug}}"
    slug: "{{slug}}"
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Publish Date", name: "date", widget: "datetime"}
      - {label: "Post Type", name: "category", widget: "select", options: [{label: "Advocacy", value: "advocacy"}, {label: "Events", value: "events"}, {label: "Grow Good News", value: "gg_news"}, {label: "Headlines", value: "headlines"}, {label: "How-To", value: "howtos"}, {label: "Materials & Practices", value: "materials_practices"}, {label: "People & Places", value: "people_places"}, {label: "Resources", value: "resources"}]}
      - {label: "List Image", name: "entry_img", widget: "image", required: false}
      - {label: "Body", name: "body", widget: "markdown"}
      # Add more fields as needed for your posts